mat-toolbar {
	width: 100%;
	button,
	p {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.mat-toolbar {
	display: flex;
	justify-content: space-between;
}
