<mat-toolbar>
	<p>Administrator</p>
	<button mat-button (click)="display = 'doctors'">Doctors</button>
	<button mat-button (click)="display = 'clinics'">Clinics</button>
</mat-toolbar>

<div class="main-container">
	<div *ngIf="this.display === 'clinics'; then clinics; else doctors"></div>

	<ng-template #clinics>
		<div>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>Add new Clinic</mat-panel-title>
				</mat-expansion-panel-header>
				<app-clinic-form></app-clinic-form>
			</mat-expansion-panel>
		</div>
		<div>
			<app-clinics-list></app-clinics-list>
		</div>
	</ng-template>

	<ng-template #doctors>
		<div>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>Add new Doctor</mat-panel-title>
				</mat-expansion-panel-header>
				<app-doctor-form></app-doctor-form>
			</mat-expansion-panel>
		</div>
		<div>
			<app-doctors-list></app-doctors-list>
		</div>
	</ng-template>
</div>
