.main-container {
	display: flex;
	flex-direction: column;
	width: 700px;
	max-width: 100%;
	margin: 20px auto;
}

* {
    display: flex;
    margin-bottom: 20px;
}

.mat-toolbar {
    padding: 0px;
}
button {
	height: 100%;
	font-size: 20px;
}

mat-tab-group {
    width: 100%;
}