<mat-toolbar>
	<button mat-button routerLink="../">Pacient Panel</button>
	<button mat-button routerLink="../">
		{{ pacient.name }} {{ pacient.surname }}
	   </button>
</mat-toolbar>
<mat-tab-group mat-align-tabs="start">
	<mat-tab label="Active">
		<div class="main-container">
			<div>
				<app-visits-list type="pacient" ></app-visits-list>
			</div>
		</div>
	</mat-tab>
	<mat-tab label="Archived">
		<div class="main-container">
			<div>
				<app-visits-list type="pacient" ></app-visits-list>
			</div>
		</div>
	</mat-tab>
</mat-tab-group>
