<mat-accordion>
	<mat-expansion-panel hideToggle *ngFor="let visit of visits">
		<mat-expansion-panel-header>
			<mat-panel-title
				><p>
					{{ visit.startDate | date: 'H:mm' }} -
					{{ visit.endDate | date: 'H:mm' }}
				</p>
			</mat-panel-title>
			<mat-panel-description>
				<p>Clinic: {{ visit.clinic.name }}</p>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="expansion">
			<div class="info">
				<p>
					Doctor: {{ visit.doctor.surname }} {{ visit.doctor.name }}
				</p>
				<p>Specialty:</p>
			</div>
			<a [routerLink]="['/pac/registration/', visit._id]">
				<button mat-button>
					Make an appointment
				</button></a
			>
		</div>
	</mat-expansion-panel>
</mat-accordion>
