.main-container {
	display: flex;
	flex-direction: column;
	width: 700px;
	max-width: 100%;
}

.main-container div {
	padding: 20px;
}

.mat-toolbar {
	padding: 0px;
}
button {
	height: 100%;
	font-size: 20px;
}

app-schedule {
	width: 95%;
	margin: 0px 20px;
}
