{
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"semi": true,
	"endOfLine": "lf",
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
