<div class="main-container">
	<div>
		<mat-card>
			<form [formGroup]="registrationForm">
				<mat-form-field appearance="legacy">
					<mat-label>Reason</mat-label>
					<textarea matInput formControlName="reason"></textarea>
				</mat-form-field>
				<br />
				<div class="buttons">
					<button routerLink="../../" mat-button>Cancel</button>
					<button
						(click)="register()"
						type="submit"
						mat-button
					>
						Submit
					</button>
				</div>
			</form>
		</mat-card>
	</div>
</div>
