<mat-expansion-panel hideToggle>
	<mat-expansion-panel-header>
		<mat-panel-title>
			<p>
				{{ visit.startDate | date: 'H:mm' }} -
				{{ visit.endDate | date: 'H:mm' }}
			</p>
			<div class="vertical-space"></div>
			<p>Dr {{ visit.doctor.surname }} {{ visit.doctor.name }}</p>
		</mat-panel-title>
		<mat-panel-description>
			<p>{{ visit.clinic.name }}</p>
		</mat-panel-description>
	</mat-expansion-panel-header>
	<div class="content">
		<div class="data">
			<div class="doctor">
				<p>
					Dr {{ visit.doctor.surname }}
					{{ visit.doctor.name }}
				</p>
				<p *ngFor="let specialtie of visit.doctor.specialties">
					{{ specialtie }}
				</p>
			</div>
			<div class="clinic">
				<p>{{ visit.clinic.name }}</p>
				<p>
					{{ visit.clinic.streetAddress }}
					{{ visit.clinic.apartment }}
				</p>
				<p>{{ visit.clinic.city }}</p>
			</div>
		</div>
		<br />
		<button
			mat-raised-button
			type="button"
			color="primary"
			[routerLink]="['registration', visit._id]"
		>
			Make an appointment
		</button>
	</div>
</mat-expansion-panel>
