<mat-accordion>
	<mat-expansion-panel hideToggle *ngFor="let doctor of doctorsList">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Dr {{ doctor.surname }} {{ doctor.name }}
			</mat-panel-title>
			<mat-panel-description>
				<button
					mat-icon-button
					aria-label="Edit doctor"
					routerLink="{{ doctor._id }}"
				>
					<mat-icon>edit</mat-icon>
				</button>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="content">
			<p *ngFor="let specialtie of doctor.specialties">
				{{ specialtie }}
			</p>
		</div>
	</mat-expansion-panel>
</mat-accordion>
