<mat-accordion>
	<div *ngFor="let day of dailyVisitCount; let i = index">
		<br />
		{{ day._id }}
		<mat-divider></mat-divider>
		<br />
		<app-patient-visit-panel
			(visitCanceled)="loadVisits()"
			*ngFor="let visit of getVisitsForGivenDay(i, visits)"
			[visit]="visit"
		></app-patient-visit-panel>
	</div>
</mat-accordion>

<div class="message" *ngIf="visits && !visits.length">
	No visits found
</div>

<div class="paginator" *ngIf="visits && visitsCount > query.visitsPerPage">
	<button
		mat-button
		[disabled]="query.page === 0"
		(click)="query.page = query.page - 1; loadVisits()"
	>
		Back
	</button>
	<button
		mat-button
		[disabled]="(query.page + 1) * query.visitsPerPage >= visitsCount"
		(click)="query.page = query.page + 1; loadVisits()"
	>
		Next
	</button>
</div>
