form {
	margin: 0px auto;
	width: 400px;
	max-width: 90%;
	display: flex;
	flex-flow: column;
	align-items: stretch;
}

.break {
	height: 40px;
}

button.mat-raised-button {
	width: 100%;
}

.control {
	display: flex;
	justify-content: space-between;
	align-items: center;
	mat-form-field {
		flex-grow: 1;
	}
	button {
		align-self: center;
	}
}

::ng-deep .mat-icon {
	height: 18x !important;
	width: 18px !important;
	font-size: 18px !important;
}

.mat-icon-button {
	align-self: flex-end;
}
