.mat-toolbar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

button {
	height: 100%;
}

.main-container {
	display: flex;
	flex-direction: column;
	width: 700px;
	max-width: 100%;
	margin: auto;
}

.main-container div {
	padding: 20px;
}
