.content {
	margin: 0px 30px;
}

mat-panel-title {
	align-items: center;
}

mat-panel-description {
	justify-content: flex-end;
	margin-right: 0px;
}

::ng-deep .mat-icon {
	height: 15x !important;
	width: 15px !important;
	font-size: 15px !important;
}

.mat-expansion-panel-header {
	padding-right: 5px;
}
