<mat-accordion *ngIf="clinics">
	<div *ngFor="let visit of visits; let i = index">
		<ng-container
			*ngIf="
				i === 0 || visit.startDate.toString().slice(0, 10) !== visits[i - 1].startDate.toString().slice(0, 10)
			"
		>
			<br />
			{{ visit.startDate.toString().slice(0, 10) }}
			<mat-divider></mat-divider>
			<br />
		</ng-container>
		<app-visit-display-panel
			(visitDeleted)="loadVisits()"
			[visit]="visit"
			[clinics]="clinics"
		></app-visit-display-panel>
	</div>
</mat-accordion>

<div class="message" *ngIf="visits && !visits.length">
	No visits found
</div>

<div class="paginator" *ngIf="visits && visitsCount > query.visitsPerPage">
	<button mat-button [disabled]="query.page === 0" (click)="query.page = query.page - 1; loadVisits()">
		Back
	</button>
	<button
		mat-button
		[disabled]="(query.page + 1) * query.visitsPerPage >= visitsCount"
		(click)="query.page = query.page + 1; loadVisits()"
	>
		Next
	</button>
</div>
