.main-container {
	width: 800px;
	margin: 40px auto;
}
form {
	width: 90%;
	margin: 10px auto;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
	* {
		font-size: 16px;
		padding: 0;
	}
}

mat-form-field {
	width: 100%;
}

.mat-toolbar {
	padding-left: 10px;
}

@import '../../../styles.scss';
$foreground-palette: map-get($light-app-theme, foreground);

a {
	color: mat-color($foreground-palette, text);
	text-decoration: none;
}
