<mat-toolbar>
	<p>Sign in</p>
</mat-toolbar>
<div class="main-container">
	<mat-card>
		<div class="form-container">
			<form [formGroup]="signinForm" (ngSubmit)="loginUser()">
				<mat-form-field appearance="fill">
					<mat-label>E-mail</mat-label>
					<input matInput formControlName="email" />
				</mat-form-field>
				<br />
				<mat-form-field appearance="fill">
					<mat-label>Password</mat-label>
					<input
					
						matInput
						formControlName="password"
						[type]="hide ? 'password' : 'text'"
					/>

					<button type="button"
						mat-icon-button
						matSuffix
						(click)="hide = !hide"
						[attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hide"
					>
						<mat-icon>{{
							hide ? 'visibility_off' : 'visibility'
						}}</mat-icon>
					</button>
				</mat-form-field>
				<br />
				<div class="buttons">
					<button mat-button type="submit">Sign in</button>
				</div>
				<a [routerLink]="['register']">Register </a>
			</form>
		</div>
	</mat-card>
</div>
