<mat-toolbar>
	<p>Sign in</p>
</mat-toolbar>
<div class="main-container">
	<mat-card>
		<form [formGroup]="signinForm" (ngSubmit)="loginUser()">
			<mat-form-field appearance="legacy">
				<mat-label>E-mail</mat-label>
				<input matInput formControlName="email" />
			</mat-form-field>
			<br />
			<mat-form-field appearance="legacy">
				<mat-label>Password</mat-label>
				<input
					matInput
					formControlName="password"
					[type]="hide ? 'password' : 'text'"
				/>

				<button
					type="button"
					mat-icon-button
					matSuffix
					(click)="hide = !hide"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
				>
					<mat-icon>{{
						hide ? 'visibility_off' : 'visibility'
					}}</mat-icon>
				</button>
			</mat-form-field>
			<br />
			<div class="buttons">
				<a [routerLink]="['register']">Register </a>
				<button mat-button [disabled]="!signinForm.valid" type="submit">
					Sign in
				</button>
			</div>
		</form>
	</mat-card>
</div>
