<mat-tab-group mat-align-tabs="start">
	<mat-tab label="Active">
		<div class="main-container" *ngIf="doctor._id">
			<div>
				<app-visit-add-panel
					*ngIf="clinics"
					[clinics]="clinics"
					(newVisit)="ngAfterViewInit()"
				></app-visit-add-panel>
			</div>
			<div>
				<app-visits-list #active [clinics]="clinics"></app-visits-list>
			</div>
		</div>
	</mat-tab>
	<mat-tab label="Archived">
		<div class="main-container" *ngIf="doctor._id">
			<div>
				<app-visits-list
					#archived
					[clinics]="clinics"
				></app-visits-list>
			</div>
		</div>
	</mat-tab>
</mat-tab-group>
