<form [formGroup]="doctor" (ngSubmit)="save()">
	<mat-form-field appearance="legacy">
		<mat-label>Name</mat-label>
		<input matInput type="text" formControlName="name" autocomplete="off" />
	</mat-form-field>
	<mat-form-field appearance="legacy">
		<mat-label>Surname</mat-label>
		<input
			matInput
			type="text"
			formControlName="surname"
			autocomplete="off"
		/>
	</mat-form-field>
	<div class="break"></div>
	<div class="control">
		<mat-label>Specialties:</mat-label>
		<button mat-icon-button type="button" (click)="addSpecialtie()">
			<mat-icon>add</mat-icon>
		</button>
	</div>
	<br />
	<div class="control" *ngFor="let _ of specialties.controls; index as i">
		<mat-form-field appearance="legacy">
			<input
				matInput
				type="text"
				[formControl]="specialties.controls[i]"
			/>
		</mat-form-field>
		<button mat-icon-button type="button" (click)="removeSpecialtie(i)">
			<mat-icon>remove</mat-icon>
		</button>
	</div>
	<div class="break"></div>

	<div class="control">
		<mat-label>Clinics:</mat-label>
		<button mat-icon-button type="button" (click)="addClinic()">
			<mat-icon>add</mat-icon>
		</button>
	</div>
	<br />
	<div class="control" *ngFor="let _ of clinics.controls; index as i">
		<mat-form-field appearance="legacy">
			<mat-select [formControl]="clinics.controls[i]">
				<mat-option
					*ngFor="let clinic of availableClinics"
					[value]="clinic._id"
					>{{ clinic.name }}</mat-option
				>
			</mat-select>
		</mat-form-field>
		<button mat-icon-button type="button" (click)="removeClinic(i)">
			<mat-icon>remove</mat-icon>
		</button>
	</div>
	<div class="break"></div>

	<button
		*ngIf="doctorId"
		style="width: 100%;"
		mat-raised-button
		type="button"
		color="primary"
		(click)="deleteDoctor()"
	>
		Delete
	</button>

	<br />
	<button
		mat-raised-button
		type="submit"
		color="primary"
		[disabled]="!doctor.valid"
	>
		Save
	</button>
</form>
