<mat-toolbar color="primary">
	<span>Sign in</span>
</mat-toolbar>
<div class="main-container">
	<div>
		<mat-card>
			<form [formGroup]="signinForm" (ngSubmit)="loginUser()">
				<mat-form-field appearance="legacy">
					<mat-label>E-mail</mat-label>
					<input matInput formControlName="email" />
					<mat-error
						*ngIf="this.signinForm.controls['email'].invalid"
						>{{ getErrorMessage('email') }}</mat-error
					>
				</mat-form-field>
				<mat-form-field appearance="legacy">
					<mat-label>Password</mat-label>
					<input
						matInput
						formControlName="password"
						[type]="hide ? 'password' : 'text'"
					/>
					<mat-error
						*ngIf="this.signinForm.controls['password'].invalid"
						>{{ getErrorMessage('password') }}</mat-error
					>
					<button
						type="button"
						mat-icon-button
						matSuffix
						(click)="hide = !hide"
						[attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hide"
					>
						<mat-icon>{{
							hide ? 'visibility_off' : 'visibility'
						}}</mat-icon>
					</button>
				</mat-form-field>
				<br />
				<div class="buttons">
					<button mat-button type="button" routerLink="register">
						Register
					</button>
					<button
						mat-button
						[disabled]="!signinForm.valid"
						type="submit"
					>
						Sign in
					</button>
				</div>
			</form>
		</mat-card>
	</div>
</div>
