.mat-toolbar {
	padding: 0px;
	display: flex;
	justify-content: space-between;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-left: 10px;
}

button {
	height: 100%;
	font-size: 20px;
}


.main-container {
	display: flex;
	flex-direction: column;
	width: 700px;
	max-width: 100%;
}

.main-container div {
	padding: 20px;
}
