<div class="main-container">
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let visit of visitsList">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>Date: {{visit.startDate | date :"MM.dd.yyr. H:mm" }} </p>
        </mat-panel-title>
        <mat-panel-description>
          <p> Clinic: {{visit.clinic}} </p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="expansion">
        <div class="info">
          <p>Doctor: {{visit.doctor}}</p>
          <p>Specialty: </p>
        </div>
        <div *ngIf="router.url === '/pac'; else deleteVisit ">
          <a [routerLink]="['/pac/registration/', visit._id]"> <button mat-button>
              Make an appointment
            </button></a></div>
      </div>
      <ng-template #deleteVisit>
        <button mat-button>
          Delete an appointment
        </button>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
