<mat-tab-group mat-align-tabs="start">
	<mat-tab label="Active">
		<ng-template matTabContent>
			<div class="main-container">
				<div>
					<app-patient-visits-list [query]="{ patient: patientId, type: 'active' }"></app-patient-visits-list>
				</div>
			</div>
		</ng-template>
	</mat-tab>
	<mat-tab label="Archived">
		<ng-template matTabContent>
			<div class="main-container">
				<div>
					<app-patient-visits-list
						[query]="{ patient: patientId, type: 'archived' }"
					></app-patient-visits-list>
				</div>
			</div>
		</ng-template>
	</mat-tab>
</mat-tab-group>
