<mat-toolbar>
	<button mat-button routerLink="../../">Pacient Panel</button>	
</mat-toolbar>
<div class="main-container">
  <mat-card>
    <div class="form-container">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [formControl]="name">
        <mat-error *ngIf="name.invalid">{{getErrorMessage(name)}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput [formControl]="surname">
        <mat-error *ngIf="surname.invalid">{{getErrorMessage(surname)}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Reason</mat-label>
        <textarea matInput [formControl] = "reason"></textarea>
      </mat-form-field>
    </div>
    <div class="buttons">
      <a routerLink="../../"> <button mat-button>Back</button></a>
      <button mat-button (click) = "register()">Submit</button>
    </div>
  </mat-card>
</div>
