a {
    color: white;
}
.main-container {
    width: 800px;
    margin: auto;

}
.form-container {
    width: 700px;
    padding: 10px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

mat-form-field {
    width: 100%;
    margin: 10px;
}

button {
	height: 100%;
	font-size: 20px;
}


.buttons-bar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-left: 10px;
}

.mat-toolbar {
	padding: 0px;
	display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

mat-tab-group {
    width: 100%;
}
