<mat-expansion-panel
	[class.booked]="visit.appointment"
	hideToggle
	*ngIf="state === 'display'; else elseBlock"
>
	<mat-expansion-panel-header>
		<mat-panel-title>
			{{ visit.startDate | date: 'H:mm' }} -
			{{ visit.endDate | date: 'H:mm' }}
		</mat-panel-title>
		<mat-panel-description>
			<p>{{ visit.clinic.name }}</p>
			<button *ngIf="type === 'active'"
				mat-icon-button
				aria-label="Finish task button"
				(click)="state = 'edit'"
			>
				<mat-icon>edit</mat-icon>
			</button>
		</mat-panel-description>
	</mat-expansion-panel-header>
	<div class="content">
		<div class="data">
			<div class="clinic">
				<p>{{ visit.clinic.name }}</p>
				<p>
					{{ visit.clinic.address.streetAddress }}
					{{ visit.clinic.address.apartment }}
				</p>
				<p>{{ visit.clinic.address.city }}</p>
			</div>
			<div *ngIf="visit.appointment">
				<p>
					{{ visit.appointment.surname }}
					{{ visit.appointment.name }}
				</p>
				<p>
					{{ visit.appointment.email }}
				</p>
				<p>{{ visit.appointment.reason }}</p>
			</div>
		</div>
		<br />
	</div>
</mat-expansion-panel>
<ng-template #elseBlock
	><mat-expansion-panel hideToggle expanded="true">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<p>
					{{ visit.startDate | date: 'H:mm' }} -
					{{ visit.endDate | date: 'H:mm' }}
				</p>
			</mat-panel-title>
			<mat-panel-description>
				<p>{{ visit.clinic.name }}</p>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<form [formGroup]="form" (ngSubmit)="save()">
			<mat-form-field appearance="legacy">
				<mat-label>Visit start</mat-label>
				<input
					matInput
					type="datetime-local"
					formControlName="startDate"
					autocomplete="off"
				/>
			</mat-form-field>
			<mat-form-field appearance="legacy">
				<mat-label>Visit end</mat-label>
				<input
					matInput
					type="datetime-local"
					formControlName="endDate"
					autocomplete="off"
				/>
			</mat-form-field>
			<mat-form-field>
				<mat-select formControlName="clinic">
					<mat-option
						*ngFor="let clinic of clinics"
						[value]="clinic"
						>{{ clinic.name }}</mat-option
					>
				</mat-select>
			</mat-form-field>
			<button
				mat-raised-button
				type="submit"
				color="primary"
				[disabled]="!form.valid"
			>
				Save
			</button>
			<button
				mat-raised-button
				type="button"
        color="primary"
        (click)="cancel()"
			>
				Cancel
			</button>
			<button
				mat-raised-button
				type="button"
        color="primary"
        (click)="delete()"
			>
				Delete
			</button>
		</form>
	</mat-expansion-panel>
</ng-template>
