.main-container {
	display: flex;
	flex-direction: column;
	width: 700px;
	max-width: 100%;
	margin: 20px auto;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.mat-toolbar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

button {
	height: 100%;
}

mat-tab-group {
    width: 100%;
}