<mat-card>
  <div class="main-container">
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let clinic of availableClinics" value='{{clinic}}'>{{clinic}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Specialties</mat-label>
      <mat-select>
        <mat-option *ngFor="let spec of availableSpec" value=''>{{spec}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="datetime-local" placeholder="start date">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="datetime-local" placeholder="end date">
    </mat-form-field>
  </div>
</mat-card>
