<mat-card>
  <div class="main-container">
    <form [formGroup]="searchForm">
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <mat-select multiple formControlName="city">
        <mat-option *ngFor="let clinic of availableClinics" value='{{clinic}}'>{{clinic}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Specialties</mat-label>
      <mat-select formControlName="specialty">
        <mat-option *ngFor="let spec of availableSpec" value='spec'>{{spec}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="startDate" matInput type="datetime-local" placeholder="start date">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="endDate" matInput type="datetime-local" placeholder="end date">
    </mat-form-field>

    <button mat-button>Search Visits</button>
  </form>
  </div>
</mat-card>
