<mat-card>
  <div class="main-container">
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <mat-select multiple>
        <mat-option value="Kraków">Kraków</mat-option>
        <!--ngIf po dostępnych city -->
        <mat-option value="Wrocław">Wrocław</mat-option>
        <mat-option value="Gdańsk">Gdańsk</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Specialties</mat-label>
      <mat-select>
        <mat-option value="kargiolog">kargiolog</mat-option>
        <!--ngIf po dostępnych spec -->
        <mat-option value="laryngolog">laryngolog</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="datetime-local" placeholder="start date">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="datetime-local" placeholder="end date">
    </mat-form-field>
  </div>
</mat-card>
