@import '~@angular/material/theming';
@include mat-core();

$light-app-primary: mat-palette($mat-teal);
$light-app-accent: mat-palette($mat-blue-grey);
$light-app-warn: mat-palette($mat-pink, 700);
$light-no-bg-app-theme: mat-light-theme(
	$light-app-primary,
	$light-app-accent,
	$light-app-warn
);

$custom-background-color: map_get($mat-blue-grey, 50);
$background: map-get($light-no-bg-app-theme, background);
$background: map_merge(
	$background,
	(
		background: $custom-background-color,
	)
);
$light-app-theme: map_merge(
	$light-no-bg-app-theme,
	(
		background: $background,
	)
);

$dark-app-primary: mat-palette($mat-teal);
$dark-app-accent: mat-palette($mat-blue-grey);
$dark-app-warn: mat-palette($mat-pink, 500);
$dark-app-theme: mat-dark-theme(
	$dark-app-primary,
	$dark-app-accent,
	$dark-app-warn
);
@include angular-material-theme($dark-app-theme);

body {
	margin: 0px;
}

app-administrator {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
