body {
	margin: 0px;
	font-family: 'Roboto';
}

app-doctors-tab,
app-doctor-tab,
app-clients-tab,
app-clinics-tab,
app-doctor-edit,
app-registered-visits-list,
app-patient,
app-new-visits,
app-login,
app-register {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

app-administrator-top-panel {
	width: 100%;
}

mat-toolbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	> button,
	> span,
	> div > span,
	> div > button {
		padding-left: 15px;
		padding-right: 15px;
	}
}
