<mat-expansion-panel hideToggle>
	<mat-expansion-panel-header>
		<mat-panel-title>
			Add new
		</mat-panel-title>
	</mat-expansion-panel-header>
	<form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
		<mat-form-field appearance="legacy">
			<mat-label>Visit start</mat-label>
			<input matInput type="datetime-local" formControlName="startDate" autocomplete="off" />
		</mat-form-field>
		<mat-form-field appearance="legacy">
			<mat-label>Visit end</mat-label>
			<input matInput type="datetime-local" formControlName="endDate" autocomplete="off" />
		</mat-form-field>
		<mat-form-field>
			<mat-select formControlName="clinic">
				<mat-option *ngFor="let clinic of clinics" [value]="clinic">{{ clinic.name }}</mat-option>
			</mat-select>
		</mat-form-field>
		<button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">
			Save
		</button>
	</form>
</mat-expansion-panel>
