.main-container {
	display: flex;
	flex-direction: column;
	width: 700px;
	max-width: 100%;
}

.main-container div {
	padding: 20px;
}

mat-card {
	width: 100%;
	padding: 40px 0;
}

mat-toolbar {
	height: 40px;
	font-size: 20px;
	margin-top: 2px;
}
