<mat-accordion>
	<mat-expansion-panel hideToggle *ngFor="let clinic of clinicsList">
		<mat-expansion-panel-header>
			<mat-panel-title>
				{{ clinic.name }}
			</mat-panel-title>
			<mat-panel-description>
				<button
					mat-icon-button
					aria-label="Remove clinic"
					(click)="removeClinic(clinic._id)"
				>
					<mat-icon>clear</mat-icon>
				</button>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="content">
			<p>
				{{ clinic.streetAddress }}
				<ng-container *ngIf="clinic.apartment"
					>/{{ clinic.apartment }}</ng-container
				>
			</p>
			<p>{{ clinic.city }}</p>
		</div>
	</mat-expansion-panel>
</mat-accordion>
